.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #151D26;
}

.leftContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 27vw;
  border-right: 1px solid grey;
  padding-left: 2em;
}

.logo{
  transform: rotate(180deg);
}
.bottomLeftContent{
  display: flex;
}

.user-photo{
  border-radius: 50%;
}




.centerContent{
  width: 40vw;
  min-height: 100vh;
  border-right: solid 1px grey;
}

.topCenterContent{
  border-bottom: solid 1px grey;
}